Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

Notes added by 'git notes add'
  33b48548e2d95776e3c13785dd6eb4b5c3a16597
Due: none

feat: update app icon
  public/browserconfig.xml
  public/icon-192x192.png
  public/icon-512x512.png
  public/manifest.json
  public/mstile-150x150.png
  src/app/_components/Home.tsx
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.svg
  src/app/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  99217f75af79d038d2f89787e425f22e4ffb47d3
Due: none

feat(rewind): update color scheme
  src/app/_components/Home.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  81d832d430a8f84fe5b68c195709eea8328f3727
Due: none

fix: plex logo positioning
  src/app/_components/Home.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: update og-image
  src/app/opengraph-image.jpg
Due: none

docs: update readme
  README.md
Due: prettier --write

fix: missing image handling in safari
  public/placeholder.svg
  src/app/_components/Home.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  aea22104eb7d0cade8242634c188b2b90c10088f
Due: none

Notes added by 'git notes add'
  a4238351ec90fce7fbbbd23c0e58d3c0cd3e1c5b
Due: none

fix(#144): settings permissions
  Dockerfile
Due: none

fix: update dockerfile
  Dockerfile
Due: none

fix(#144): cache permissions
  Dockerfile
Due: none

fix(#144): cache dir
  Dockerfile
Due: none

fix: chmod
  Dockerfile
Due: none

fix: missing config directory
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

revert: 841c39272ff04919e71ebab4c9f4c9916cf2931b
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up logs
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#144): settings permissions
  Dockerfile
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  6f2f1c1f6cc84cc6679464f0277ca849a0931cf6
Due: none

Notes added by 'git notes add'
  7c9fdd39ebfcad0eaf130c7ae9c36a5979681d55
Due: none

feat(dashboard): allow toggling total stats
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/formatting.ts
  src/utils/getDashboard.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: enable support for ARMv7 devices
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

feat(#171): enable support for ARMv7 devices
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: populating missing settings keys
  src/utils/constants.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): allow toggling total stats
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/formatting.ts
  src/utils/getDashboard.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

revert: enable support for ARMv7 devices
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  f505ff9f3387892085834c95cbc0bbae7b2be4b6
Due: none

ci: use qemu
  .github/workflows/ci.yml
Due: none

revert: use qemu
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  8159be82def5868a2f1b071316cca4b1c155169b
Due: none

feat: dashboard default custom period wip
  src/actions/update-feature-settings.ts
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/formatting.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: custom period parsing
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/utils/formatting.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: select styles
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix(#174): enable serving local images via proxy
  src/app/api/image/route.ts
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/placeholder.svg
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  6dee134e1390576da6eaaa84dc858d399371d8ad
Due: none

feat(#179): add dashboard default period selection
  src/actions/update-feature-settings.ts
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix
