Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

build: fix settings mount (#105)
  src/app/_components/Home.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/layout.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/utils/constants.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: change dev package version
  package.json
Due: prettier --write

feat(#32): publish docker image (#98)
  .env
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  config/settings.json
  docker-compose.yml
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: fix
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  config/settings.json
  docker-compose.yml
  docker-entrypoint.sh
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/layout.tsx
  src/app/rewind/layout.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/config/settings.json
  src/utils/constants.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: update semantic release logic
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: clarify setting app url
  README.md
Due: prettier --write

docs(#108): clarify setting app url
  README.md
Due: prettier --write

ci(#32): update semantic release logic (#110)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: semantic release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: semantic release (#112)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: semantic release error
  package.json
Due: prettier --write

fix: semantic release error (#113)
  package.json
Due: prettier --write

fix: pnpm lock
  pnpm-lock.yaml
Due: none

fix: pnpm lock (#114)
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  0f1ec35613a799db4750e4ef59ce223d7959c855
Due: none

Notes added by 'git notes add'
  31758df878aa439727a983270d66a28d9b464165
Due: none

fix: semantic release version in workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: semantic release version in workflow (#116)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  0560e68e4b1f430feb054d25155165c701bcc6d2
Due: none

fix: set output deprecation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

fix: set output deprecation (#117)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  686cecde5b939f7cf4a6ab93e99027327c81ad9f
Due: none

Notes added by 'git notes add'
  aa67e0b105663d4b4dc44391d9ddfd70b1b767b5
Due: none

fix: version tag on settings page
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: version tag on settings page (#119)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update readme
  .releaserc.json
  README.md
Due: prettier --write

docs: update readme (#120)
  .releaserc.json
  README.md
Due: prettier --write

Notes added by 'git notes add'
  1e2be48466834986d187c0730f3ab531dcea973b
Due: none

Notes added by 'git notes add'
  670d4c2a96fa0cab38e59f7243dd3799daec1d32
Due: none

fix: app version tag on settings page
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: app version tag on settings page (#122)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: disable semantic release on develop
  .github/workflows/ci.yml
Due: none

ci: disable semantic release on develop (#123)
  .github/workflows/ci.yml
Due: none

ci: fix develop
  .github/workflows/ci.yml
Due: none
