Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

build: update packages (#277)
  package.json
  pnpm-lock.yaml
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  cbd1c23716f0c499becef28d928825b4f97044ba
Due: none

fix: disable swcMinify
  next.config.mjs
Due: none

fix: update babel
  .babelrc
Due: none

build: use regular node:22 image
  .babelrc
  Dockerfile
  next.config.mjs
Due: none

build: revert to alpine image
  Dockerfile
Due: none

Notes added by 'git notes add'
  4ea94eacbbaeb13cb1f119c0ee46754e805a83a4
Due: none

feat: added initial localization logic
  .eslintrc.json
  .lintstagedrc.json
  messages/en.json
  messages/et.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/LocaleSelect.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/layout.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/components/Loader.tsx
  src/components/MediaItem/MediaItem.tsx
  src/hooks/useTimer.ts
  src/i18n/locale.ts
  src/i18n/request.ts
  src/utils/constants.ts
  tsconfig.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: add more translations
  .eslintrc.json
  README.md
  messages/en.json
  messages/et.json
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/LocaleSelect.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/not-found.tsx
  src/app/~offline/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: added settings translations
  messages/en.json
  messages/et.json
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/_components/SettingsSaveButton.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/dashboard/page.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/page.tsx
  src/app/settings/layout.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/app/settings/rewind/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: add dashboard translations
  messages/en.json
  messages/et.json
  src/app/_components/LocaleSelect.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/error.tsx
  src/app/dashboard/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: add more missing translations
  .vscode/settings.json
  messages/en.json
  messages/et.json
  src/app/_components/Home.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/layout.tsx
  src/components/DatePicker.tsx
  src/components/Loader.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: more translations
  messages/en.json
  messages/et.json
  src/app/dashboard/error.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/error.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/components/MediaItem/PlexDeeplink.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: finished text translations
  messages/en.json
  messages/et.json
  src/app/rewind/_components/StatListItem.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/_components/UserSelect.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: update dependencies (#283)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  50a5ef7d139901762aafbc17329a2b63f80fbca7
Due: none

Notes added by 'git notes add'
  e9fa748d42269734d1eb841cc7c9e7ed590295a7
Due: none

Notes added by 'git notes add'
  4288bc3a7e75b44db180310e2cd4bf8355bb6d3f
Due: none

feat: formatting locals
  messages/en.json
  messages/et.json
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/formatting.ts
  src/utils/getDashboard.ts
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: lockfile
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  64c8ae9eca14d34c6936af6d7a8165658f4f9b44
Due: none

chore: update to latest develop
  README.md
  messages/en.json
  messages/et.json
  pnpm-lock.yaml
  src/app/_components/Chat.tsx
  src/app/settings/chat/_components/ChatSettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/utils/history.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

ci: update pnpm to 10
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Notes added by 'git notes add'
  3ad55359d84e01654463e5db99961c2538ac0cdd
Due: none

ci: update pnpm to 10 (#287)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: add missing et translations
  README.md
  messages/en.json
  messages/et.json
  src/app/_components/Chat.tsx
  src/app/settings/chat/_components/ChatSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: missing translations
  messages/en.json
  messages/et.json
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

add fr.json
  messages/fr.json
Due: prettier --write

Apply Prettier formatting
  messages/fr.json
  package-lock.json
Due: prettier --write

fix fr.json & add 'fr' constants.ts
  README.md
  messages/fr.json
  package-lock.json
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix syntaxe
  messages/fr.json
Due: prettier --write

feat: add french locale (#288)
  README.md
  messages/fr.json
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  fd62415c99838b851ce728e77871d5e1a2c23247
Due: none

Notes added by 'git notes add'
  c42acb46406fbb6cc560bec131920c56e1586fd0
Due: none

fix: page top padding on mobile
  src/app/_components/AppProvider.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  2218d0858f398e51b7b232339969aa079933f2c7
Due: none

feat: add german locale
  README.md
  messages/de.json
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: add german locale (#290)
  README.md
  messages/de.json
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write
