Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write --cache"
}

feat(#236): custom server name (#313)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/_components/Home.tsx
  src/app/layout.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: activity page
  .cursor/rules/api-fetch-utilities.mdc
  .cursor/rules/project-overview.mdc
  messages/en.json
  package.json
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/activity/_components/ActivityContent.tsx
  src/app/activity/layout.tsx
  src/app/activity/page.tsx
  src/styles/globals.css
  src/types/tautulli.d.ts
  src/utils/fetchTautulli.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

chore: clean up
  .cursor/rules/api-fetch-utilities.mdc
  .cursor/rules/project-overview.mdc
  pnpm-lock.yaml
Due: none

chore: add translations
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
Due: prettier --write --cache

Notes added by 'git notes add'
  728a4d25f1fcb769174ec8f0fa9c97f2d1951af7
Due: none

chore: clean up positioning
  src/app/_components/Home.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: add missing translations
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/layout.tsx
  src/app/activity/page.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: layout
  src/app/activity/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#236): use custom server name in rewind cards
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: update meta
  src/app/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: remove rewind from meta
  src/app/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#236): use custom server name in rewind cards (#315)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  780b2fa6e77aab3512eed16c94a0f47642ec1f3a
Due: none

Add Activity page settings with user anonymization option
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/_components/Home.tsx
  src/app/activity/_components/ActivityContent.tsx
  src/app/activity/page.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/app/settings/activity/page.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/_components/Home.tsx
  src/app/activity/layout.tsx
  src/app/activity/page.tsx
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/app/settings/dashboard/page.tsx
  src/app/settings/rewind/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: format
  src/app/activity/_components/ActivityContent.tsx
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: switch state
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: clean up anon logic
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/ActivityContent.tsx
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: show count in title
  src/app/activity/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: setup message
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: improve design
  .cursor/rules/api-fetch-utilities.mdc
  src/app/activity/_components/ActivityContent.tsx
  src/app/activity/page.tsx
  src/types/tautulli.d.ts
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: rename
  src/app/activity/_components/Activities.tsx
  src/app/activity/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: add todo
  src/app/activity/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: live title
  src/app/activity/_components/Activities.tsx
  src/app/activity/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: dont show video and subs info on audio
  src/app/activity/_components/Activities.tsx
  src/types/tautulli.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up layout
  eslint.config.js
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/Activities.tsx
  src/app/rewind/_components/StatListItem.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/types/tautulli.d.ts
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: remove eta prefix
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/Activities.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: skeleton, error and empty states
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/_components/AppProvider.tsx
  src/app/activity/_components/Activities.tsx
  src/app/activity/_components/ActivitiesSkeleton.tsx
  src/app/activity/layout.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

refactor: eta
  src/app/activity/_components/Activities.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update features overview
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: add link underline
  src/app/activity/_components/Activities.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

perf: dont fetch in background
  src/app/activity/_components/Activities.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: fallback height
  src/app/activity/_components/Activities.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: add deeplink
  README.md
  src/app/activity/_components/Activities.tsx
  src/app/activity/page.tsx
  src/components/MediaItem/PlexDeeplink.tsx
  src/types/tautulli.d.ts
  src/utils/deeplink.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: respect tmdb posters setting
  README.md
  src/app/activity/_components/Activities.tsx
  src/app/activity/_components/ActivityItem.tsx
  src/hooks/usePoster.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

docs: update readme
  README.md
Due: prettier --write --cache

docs: clarify anon
  README.md
Due: prettier --write --cache

Notes added by 'git notes add'
  ce4beab06930200069cd50b9037cf0b13dae2482
Due: none

fix: missing required key
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
