Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

Notes added by 'git notes add'
  86b9e1bcc849b00085a380c020645bb8ef0e53eb
Due: none

feat(#176): don't show rewind page for non-existant library types
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  ec4ffa98e60ab130a6934e2bbe092999b768b819
Due: none

feat(#176): add general ending card for rewind
  src/app/_components/Home.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  e2c79d61421798afcd1eb482a58c80a5c82376e2
Due: none

style: fix format
  src/app/rewind/loading.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#191): also set user as admin if homesize is 1
  src/lib/auth.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(#191): add further debug steps
  src/lib/auth.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#191): home admin for servers with 1 user not set as admin
  src/lib/auth.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  36fc043ad510db59830d171b2613706582842890
Due: none

Notes added by 'git notes add'
  3a06de203c30940958d8d1f37c7539f47e83ada8
Due: none

feat(dashboard): added option for users to view their personal dashboard in addition to general one
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/dashboard/_components/DashboardProvider.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/getDashboard.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  79a2bc88f88fc85cbc28ecdffe372b678c2fc799
Due: none

fix(rewind): ending card copy if user has viewed no content
  src/app/rewind/_components/Stories/Goodbye.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): rewrite and reorganization of settings pages and logic
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/layout.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/layout.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/dashboard/page.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/page.tsx
  src/app/settings/layout.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/app/settings/rewind/page.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/getDashboard.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  063481144718c16d5792103dc44f7b2460c4116f
Due: none

fix(release)!: introduce breaking change
  README.md
Due: prettier --write

Notes added by 'git notes add'
  124654036bd5c995d493defce8bbf609e21b99f8
Due: none

feat(dashboard): enable users count for movies
  src/components/MediaItem/MediaItem.tsx
  src/utils/getDashboard.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  97a202a5c9734b6117d74b48eb320af7688ec683
Due: none

fix(#170): attempt at removing explicit user
  Dockerfile
Due: none

fix: update dockerfile
  Dockerfile
Due: none

fix(#170): revert changes made previously to settings permissions
  Dockerfile
Due: none

docs: update readme
  README.md
Due: prettier --write

fix(#170): settings permissions
  Dockerfile
  README.md
Due: prettier --write

Notes added by 'git notes add'
  8689fd5248841ef89799010085f0c5fa580f7391
Due: none

feat: option to allow outside access without login
  config/settings.example.json
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/api/libraries/route.ts
  src/app/api/managed-users/route.ts
  src/app/api/status/route.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/layout.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/lib/auth.ts
  src/middleware.ts
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  39c056e84be0a3529ff87b89e84fc559951191e0
Due: none

feat(config): admin ability to view all server users rewinds, links on rewind settings page
  src/app/_components/Home.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/app/settings/rewind/page.tsx
  src/lib/auth.ts
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): admin ability to view all server users rewinds
  src/app/_components/Home.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/app/settings/rewind/page.tsx
  src/lib/auth.ts
  src/types/index.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  5c2134a013603954473366f4a94d4b639059a95a
Due: none

Notes added by 'git notes add'
  1d4fb545fc9a8edaae336c018e4fb69cfaefb435
Due: none

fix: libraries cache
  src/app/api/libraries/route.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4b81c1ee7effb30e308dba30164fa3b2073fa780
Due: none

fix(dashboard): users request count
  src/app/dashboard/users/page.tsx
  src/utils/fetchOverseerr.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: missing pagination
  src/app/dashboard/users/page.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/utils/fetchOverseerr.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
