Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  48b4136ed132e9a3c9e94f48a4b97cbd7de01015
Due: none

fix(settings): dashboard default period validation
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: fix getting next version
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  24d4cb4d6bf70561b75c638b299809b3c6e839fc
Due: none

fix(rewind): totals copy
  src/app/rewind/_components/Stories/Total.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  d9a80ff476c0b33c24a356065b5d6c996f6e0a22
Due: none

feat(dashboard): design refresh
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/loading.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

docs: update screenshots
  README.md
Due: prettier --write

fix: body height on mobile
  src/app/_components/AppProvider.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: increase settings icon size on mobile
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): design refresh
  README.md
  src/app/_components/AppProvider.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/loading.tsx
  src/app/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  8f51f2c1bce0b6de6557a717037f3fd129f57acd
Due: none

fix: add fallback for missing images (#149)
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

feat: update settings page design (#145)
  src/app/_components/AppProvider.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/layout.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

ci: only run ci on workflow dispatch
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

fix: unique plex oauth login client id (#147)
  package.json
  pnpm-lock.yaml
  src/lib/auth.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: remove unneeded release option
  .releaserc.json
Due: prettier --write

feat(settings): dashboard default period edit and restructure into sections (#148)
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

build: update local docker-compose
  docker-compose.yml
Due: none

feat: new background
  package.json
  pnpm-lock.yaml
  public/clouds.png
  public/twinkling.png
  src/app/_assets/stars.png
  src/app/_components/AppProvider.tsx
  src/assets/placeholder.svg
  src/styles/globals.css
  src/types/vanta.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

ci: semantic release publish only when build successful
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  9a200584b6a99b293cb0f67224afaebbd9ba3b87
Due: none

Revert "ci: semantic release publish only when build successful"
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

Revert "fix(rewind): totals copy"
  src/app/rewind/_components/Stories/Total.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Revert "build: update local docker-compose"
  docker-compose.yml
Due: none

Revert "ci: only run ci on workflow dispatch"
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Revert "feat: update settings page design (#145)"
  src/app/_components/AppProvider.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/layout.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Revert "fix: unique plex oauth login client id (#147)"
  package.json
  pnpm-lock.yaml
  src/lib/auth.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Revert "feat: new background"
  package.json
  pnpm-lock.yaml
  public/clouds.png
  public/twinkling.png
  src/app/_assets/stars.png
  src/app/_components/AppProvider.tsx
  src/assets/placeholder.svg
  src/styles/globals.css
  src/types/vanta.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Revert "feat(dashboard): design refresh"
  README.md
  src/app/_components/AppProvider.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/loading.tsx
  src/app/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Revert "fix(settings): dashboard default period validation"
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Revert "ci: fix getting next version"
  .releaserc.json
Due: prettier --write

Revert "feat(settings): dashboard default period edit and restructure into sections (#148)"
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Revert "fix: add fallback for missing images (#149)"
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
