Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

Notes added by 'git notes add'
  abe480c6ed5c5f25282cdca6d02a52934c966085
Due: none

Notes added by 'git notes add'
  52f69fdf1013711b36c5f7ad15536871b9fb2d14
Due: none

ci: update stale action
  .github/workflows/stale.yml
Due: none

chore: update dependencies
  .cz-config.js
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

ci: update release workflows
  .github/workflows/release.yml
Due: none

ci: avoid excessive runs
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

build: fix dependencies
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  51105cff415a2913fe49b8ef438a8aacd05145db
Due: none

fix(rewind): undefined top
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): undefined top (#249)
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: enable support for ARMv7 devices
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  e5a4e2e5736535144715634bce90b8614774e367
Due: none

docs: update README.md
  README.md
Due: prettier --write

ci: fix stable release workflow
  .github/workflows/release.yml
Due: none

docs: update readme (#251)
  README.md
Due: prettier --write

Notes added by 'git notes add'
  124c6a6efb333d0c851af65b1b03db3f1cffadb3
Due: none

Notes added by 'git notes add'
  2001250dea73ae3c429ebbce3116e19a7ca5f3ea
Due: none

ci: fix release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  c118b265aa3a9e712b9c5affdc987a094f73ae6f
Due: none

Notes added by 'git notes add'
  f037e13ccecfaf9197ded50e34543a8f0b2da852
Due: none

build: fix release
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  1a3cea8a980471966f61354b802a2245ad98986e
Due: none

Notes added by 'git notes add'
  521b1d724207a595e4731f127ec051cd6c21a8fc
Due: none

fix(dashboard): missing user_id on users page
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  abbad70a42014c06bb12bb83a3364baea6c08d25
Due: none

ci: don't run tests on pr from develop to main
  .github/workflows/tests.yml
Due: none

Notes added by 'git notes add'
  5773b4b900b4c255ae4637ab673d26b067858a6c
Due: none

feat: initial implementation of ai
  README.md
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/_components/TautulliAI.tsx
  src/app/api/chat/route.ts
  src/app/dashboard/_components/Dashboard.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/types/settings.d.ts
  src/types/tautulli.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: move chat to status bar
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/TautulliAI.tsx
  src/app/api/chat/route.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ui: improve design
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/TautulliAI.tsx
  src/app/api/chat/route.ts
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/types/settings.d.ts
  src/types/tautulli.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: add loading state
  src/app/_components/TautulliAI.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ui: improve style
  .gitignore
  src/app/_components/AppProvider.tsx
  src/app/_components/Chat.tsx
  src/app/api/chat/route.ts
  src/styles/globals.css
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

fix: error handling
  .gitignore
  README.md
  src/app/_components/Chat.tsx
  src/app/api/chat/route.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/types/tautulli.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: additional check to chat icon
  src/app/_components/AppProvider.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: improve token limit handling
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/app/_components/Chat.tsx
  src/app/api/chat/route.ts
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/utils/getRewind.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: switch over to google gemini
  README.md
  package.json
  pnpm-lock.yaml
  src/app/api/chat/route.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: clean up settings logic
  src/app/_components/AppProvider.tsx
  src/app/api/chat/route.ts
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/chat/_actions/updateChatSettings.ts
  src/app/settings/chat/_components/ChatSettingsForm.tsx
  src/app/settings/chat/page.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getRewind.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: improve gemini cache handling
  .gitignore
  src/app/_components/Chat.tsx
  src/app/api/chat/route.ts
  src/app/settings/_actions/updateSettings.ts
  src/utils/chat.ts
  src/utils/getDashboard.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: chat box height
  src/app/_components/Chat.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: update instructions
  src/app/api/chat/route.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
