Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

perf: batch overseerr fetches
  src/utils/fetchOverseerr.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: types
  src/app/api/image/route.ts
  src/types/dashboard.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): users request count
  src/app/api/image/route.ts
  src/app/dashboard/users/page.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/types/dashboard.d.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  842b1038163c60fea4f44464354ae76ebbeccc9a
Due: none

Notes added by 'git notes add'
  49f566c37cbaca1278b8d46ccdadcf0d45b37a1a
Due: none

fix(rewind): undefined library.top
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(auth): fix admin check in case of non-home users
  src/lib/auth.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(auth): fix admin check in case of non-home users (#213)
  src/lib/auth.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  7a23a6462a613cb12bfdc5a4ab41fbeb9a7b3304
Due: none

Notes added by 'git notes add'
  87f8ea0e1f1abe3bee5ade99ed8a8f8d2d088eaa
Due: none

fix: don't consider stable channel updates on develop channel
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  eaac853c3a6c605ccc8ac4dfbfbcbbb48ac7a7b1
Due: none

fix(dashboard): media availability status cache
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: docker warning
  Dockerfile
Due: none

fix(dashboard): media availability status cache (#216)
  Dockerfile
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  9b0ca1d5bd1cc5ecd81fc894cf435eb0100d30e7
Due: none

fix: don't show dashboard button if no valid pages available
  .github/workflows/tests.yml
  package.json
  src/app/_components/Home.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: don't show dashboard button if no valid pages available (#218)
  .github/workflows/tests.yml
  package.json
  src/app/_components/Home.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  08829bcfc100748be82773299077aaaef661708a
Due: none

feat(setup): started work on improved flow
  config/settings.example.json
  src/app/_components/AppProvider.tsx
  src/app/_components/PageTitle.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/layout.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: improve redirect handling
  src/app/_components/AppProvider.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SetupNav.tsx
  src/app/settings/layout.tsx
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

perf: move missing settings redirect to middleware
  src/app/_components/AppProvider.tsx
  src/app/api/settings/route.ts
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsSaveButton.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/middleware.ts
  src/utils/constants.ts
  src/utils/getSettings.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: copy for setup end
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsSaveButton.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

updated dashboard to friendly name
  src/components/MediaItem/MediaItemTitle.tsx
  src/types/tautulli.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: updated text color of dashboard
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: filter library dashboard for user who dont have access to it
  src/types/tautulli.d.ts
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: updated with PR suggestions
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: fixed library listing with outside access option
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): use friendly_name for users and change ranking colors (#221)
  src/components/MediaItem/MediaItemTitle.tsx
  src/types/tautulli.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: removed redundant filter
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  0b91f5f16cabfed6cdfb086495aff5cd04fc398c
Due: none

docs: update contributing guide
  CONTRIBUTING.md
Due: prettier --write

fix(dashboard): skeleton loader when toggling personal switch
  src/app/dashboard/[slug]/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: remove different copy
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsSaveButton.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4e669456981eeeb1f9ae7f1efb4e33689924da7d
Due: none

fix: redirect logic
  src/middleware.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: add empty line after const declaration
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): don't show libraries the viewing user doesn't have access to (#223)
  src/types/tautulli.d.ts
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  40113c76e3c6daea9bfba36c68f3540a9e150d70
Due: none

refactor: navigation and redirect
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/_components/SetupNav.tsx
  src/app/settings/layout.tsx
  src/middleware.ts
  src/styles/globals.css
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix
