Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

feat(dashboard): add sort by filter
  README.md
  src/app/_components/AppProvider.tsx
  src/app/_components/GlobalContextProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/layout.tsx
  src/styles/globals.css
  src/types/dashboard.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

ui: finish filters styling
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/styles/globals.css
  src/utils/getDashboard.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

feat: add settings toggle for displaying plays filter
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: clean up code
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: toggling filters
  src/app/dashboard/_components/DashboardFilters.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: sort by query params if filter not active
  src/app/_components/Home.tsx
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): add sort by filter (#237)
  README.md
  src/app/_components/AppProvider.tsx
  src/app/_components/GlobalContextProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/layout.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/styles/globals.css
  src/types/dashboard.d.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getDashboard.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

Notes added by 'git notes add'
  ca5061c01088aebc830264205a3ba8e5014a5194
Due: none

ui(rewind): use smaller select style for user selector
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/_components/UserSelect.tsx
  src/app/rewind/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  310386d86c2cc7d950e23d0f79f4ff025ec6233d
Due: none

ui(config): indicate startDate as required
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/components/DatePicker.tsx
  src/styles/globals.css
  src/utils/getDashboard.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

Notes added by 'git notes add'
  0ad2040dd7e1f417624ec829d17fc5ba2a8fea71
Due: none

ui: add datepicker focus state
  src/components/DatePicker.tsx
  src/styles/globals.css
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

refactor(auth): assume user object exists when session does
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/rewind/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: show sort filter in public dashboard also
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardFilters.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  8f340c7addac3e0a20cfebab54fcf55881ee552e
Due: none

Notes added by 'git notes add'
  41180e30e72a3c43ed7ebe92192d332ac7347acc
Due: none

docs: update screenshots
  README.md
Due: prettier --write

feat(api): add status page
  README.md
  src/app/api/status/route.ts
  src/types/index.d.ts
  src/utils/getVersion.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  62c4c98b45e2f6b7433c07c84b6a8e2cfcc6b81d
Due: none

ci(release): update config
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  8bd71b70ac36561d6ae9086b1bf1527881428053
Due: none

feat(config): allow sorting libraries
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/DatePicker.tsx
  src/hooks/usePlexAuth.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat(config): allow sorting libraries (#241)
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/DatePicker.tsx
  src/hooks/usePlexAuth.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  056ca594e98b7c316135726a1ab8163bc6b6e777
Due: none

ci(actions): add automatic stale workflow
  .github/workflows/stale.yml
Due: none

chore: update action copy
  .github/workflows/stale.yml
Due: none

Notes added by 'git notes add'
  3910827a8348b66cd6ad6538bbdcb0bc7c79f666
Due: none

ci: update release config
  .cz-config.js
  .releaserc.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  254ac86a834f490962d8a7ca3b29b70ef34bce7e
Due: none

chore: review fixes
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up types
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/types/tautulli.d.ts
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): highlight and always show logged in users rank on user's page (#243)
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/tautulli.d.ts
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4dadd77dee77f410353f8ea4e06494f8bbaa9ca1
Due: none

fix(dashboard): always show max 5 items on users page
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  ae20bdf3519dddea75e1f9ef68ca37f0d1235a9e
Due: none

ui(dashboard): improve skeleton loader alignment
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/settings/layout.tsx
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  33224fb56da2f314c88168ca36254ed187aa2ca1
Due: none

fix(dashboard): users page stats count
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
