Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

style: enforce empty lines
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/lib/auth.ts
  src/utils/fetchOverseerr.ts
  src/utils/formatting.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getPeriod.ts
  src/utils/getSettings.ts
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: update settings nav colors on setup
  src/app/settings/_components/SettingsNav.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(setup)!: improved setup flow (#219)
  .eslintrc.json
  CONTRIBUTING.md
  config/settings.example.json
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/PageTitle.tsx
  src/app/api/settings/route.ts
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/_actions/updateSettings.ts
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/_components/SettingsSaveButton.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/layout.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/lib/auth.ts
  src/middleware.ts
  src/styles/globals.css
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/formatting.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getPeriod.ts
  src/utils/getSettings.ts
  src/utils/getVersion.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  bf7d6eb987e851a9c6f4f4bb99079f163b077df1
Due: none

feat(rewind): allow admin to select current user on rewind page instead of settings
  package.json
  src/app/rewind/_components/StatListItem.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/_components/UserSelect.tsx
  src/app/rewind/layout.tsx
  src/app/rewind/page.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/app/settings/rewind/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  e12be4fd90240f289b9abf7780911efdb66a6980
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): require admin user to complete initial setup
  src/app/_components/Home.tsx
  src/app/settings/layout.tsx
  src/middleware.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  97536f09e21b19b41f4b637506938274ea6cece4
Due: none

fix(security): mask sensitive settings in api response
  src/app/api/settings/route.ts
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  8bcdc01e91f003bdb180b9dcdfcb0f753906d785
Due: none

feat: implemented stats of logged in user
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/types/tautulli.d.ts
  src/utils/formatting.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: added empty line after const
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(security): refactor public api usage
  src/app/_components/Home.tsx
  src/app/api/libraries/route.ts
  src/app/api/managed-users/route.ts
  src/app/api/missing-setting/route.ts
  src/app/api/settings/route.ts
  src/app/page.tsx
  src/middleware.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: fixed lint issues
  src/app/dashboard/users/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(config): settings navigation colors
  src/app/settings/_components/SettingsNav.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  1823fa219784e2d18c0359be8b436567ca595ff4
Due: none

fix(rewind): undefined library.top
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: remove console.log
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): undefined library.top (#207)
  src/app/rewind/_components/RewindStories.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  5f3c9934444140b2f57a4f9dd8a4b6a3049939cd
Due: none

fix(rewind): user change loading state
  src/app/rewind/_components/UserSelect.tsx
  src/app/rewind/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  f58ea875b1d341e4b0bc1688bffb34c1a70feaa1
Due: none

Notes added by 'git notes add'
  700cd933c23bfc1b576e56ec60fede0d272cd92e
Due: none

style(eslint): update config
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package.json
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/lib/auth.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/formatting.ts
  src/utils/getDashboard.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: add build caching
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

build: use cache for docker, update release logic
  .cz-config.js
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  ccab0fff5086cd3dff5a3afd72ecdabd0ce63f8a
Due: none

fix: pnpm override
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  a608f072aa60926b6c0c75340aec57aaf2c747c1
Due: none

refactored isUserDashboard
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: clean up docker cache
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci: fix linting workflow errors
  .cz-config.js
  .releaserc.json
  commitlint.config.js
  src/types/custom.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  5641122c637fd388647da154630bd1c9d255924e
Due: none

Notes added by 'git notes add'
  410ea271c2577c49370c709964b543b8b6df5e88
Due: none

mark logged in user
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactored getInactiveUserInTimePeriod
  src/app/dashboard/users/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: refactor according to pr
  src/app/dashboard/users/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: fixed dependency in hook
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(config): initial setup redirection loop on login
  src/app/settings/layout.tsx
  src/middleware.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
