Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  ddf8b40cec779487227bae0154394338c3378704
Due: none

Notes added by 'git notes add'
  2a1d925ad0ce917728e39a0e1eb08c0205282ed2
Due: none

fix: settings permissions
  Dockerfile
Due: none

fix: permissions
  Dockerfile
Due: none

fix: settings permissions (#300)
  Dockerfile
Due: none

Notes added by 'git notes add'
  cf7f66ece3044c2f124ee37f20ba86d708c3d6ae
Due: none

Notes added by 'git notes add'
  4c833e2c486d35ce194b4d9513cc7eea52484496
Due: none

fix(settings): stale values after save
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(settings): stale values after save (#302)
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  ccddb8eb3e01e2ae66848b4ff54edbdec352a0bf
Due: none

Notes added by 'git notes add'
  6688f60565d2e2ee4f30438453b9950b07790f87
Due: none

feat: custom server name
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/_components/Home.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: activity page
  .cursor/rules/api-fetch-utilities.mdc
  .cursor/rules/project-overview.mdc
  messages/en.json
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/activity/_components/ActivityContent.tsx
  src/app/activity/layout.tsx
  src/app/activity/page.tsx
  src/styles/globals.css
  src/types/tautulli.d.ts
  src/utils/fetchTautulli.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

build: up deps
  package.json
  pnpm-lock.yaml
  src/app/settings/_actions/updateSettings.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: up deps (#307)
  package.json
  pnpm-lock.yaml
  src/app/settings/_actions/updateSettings.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  f83d988d27b6786bfb604a7297a8d8880313cd12
Due: none

Notes added by 'git notes add'
  73d6be94a31c89512992333d86f0080fabdf7cc2
Due: none

fix: setup issues
  src/app/settings/_components/SettingsNav.tsx
  src/middleware.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getSettings.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: edge runtime
  package.json
  pnpm-lock.yaml
  src/app/api/settings/route.ts
  src/middleware.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: admin required on initial setup
  src/app/_components/Home.tsx
  src/middleware.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: improve pipelines
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: review
  .github/workflows/ci.yml
Due: none

ci: improve pipelines (#311)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

feat: improve onboarding clarity
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: missing check
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: redirect
  src/app/settings/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: libraries access
  src/utils/fetchTautulli.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: update text
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  d3faab7b8687664f2d7975d930d84cbc968da78c
Due: none

fix: typo
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: setup issues (#310)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  package.json
  pnpm-lock.yaml
  src/app/_components/Home.tsx
  src/app/api/settings/route.ts
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_actions/updateConnectionSettings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/layout.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/middleware.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/getSettings.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  2c66d29c9180ce6f4aade52b4721ff5c63de8816
Due: none

Notes added by 'git notes add'
  2dd5458a7d512cd4583f251f8637f35ea868639c
Due: none

feat: change meta
  src/app/layout.tsx
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Path conditions:
  prettier --write --cache: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
