Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

feat: add predefined questions
  src/app/_components/Chat.tsx
  src/app/api/chat/route.ts
  src/app/settings/_actions/updateSettings.ts
  src/utils/history.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: improve responsiveness
  src/app/_components/Chat.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): add option to anonymize other users
  src/app/dashboard/users/page.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: improve anon name handling
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: add profile images for anon users
  src/assets/profiles/bat.svg
  src/assets/profiles/butterfly.svg
  src/assets/profiles/cat.svg
  src/assets/profiles/duck.svg
  src/assets/profiles/giraffe.svg
  src/assets/profiles/hippo.svg
  src/assets/profiles/kangaroo.svg
  src/assets/profiles/lion.svg
  src/assets/profiles/monkey.svg
  src/assets/profiles/moose.svg
  src/assets/profiles/octopus.svg
  src/assets/profiles/ostrich.svg
  src/assets/profiles/rabbit.svg
  src/assets/profiles/racoon.svg
  src/assets/profiles/shark.svg
  src/assets/profiles/snake.svg
  src/assets/profiles/tiger.svg
  src/assets/profiles/turtle.svg
  src/components/MediaItem/MediaItem.tsx
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: simplify anon logic
  src/assets/profiles/bat.svg
  src/assets/profiles/butterfly.svg
  src/assets/profiles/cat.svg
  src/assets/profiles/duck.svg
  src/assets/profiles/giraffe.svg
  src/assets/profiles/hippo.svg
  src/assets/profiles/kangaroo.svg
  src/assets/profiles/lion.svg
  src/assets/profiles/monkey.svg
  src/assets/profiles/moose.svg
  src/assets/profiles/octopus.svg
  src/assets/profiles/ostrich.svg
  src/assets/profiles/rabbit.svg
  src/assets/profiles/racoon.svg
  src/assets/profiles/shark.svg
  src/assets/profiles/snake.svg
  src/assets/profiles/tiger.svg
  src/assets/profiles/turtle.svg
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/anonymous.svg
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(config): add option to anonymize other users (#263)
  src/app/dashboard/users/page.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/anonymous.svg
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4f96214fb324ee3495d62a0044b4657ab54c8a0a
Due: none

feat(rewind): add user comparison card
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/rewind.d.ts
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: hiding extra item
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: timeframe
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/page.tsx
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(rewind): add users comparison card (#265)
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItems.tsx
  src/types/rewind.d.ts
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  c3c94cc136f71f09d20b4ae990bb4c2ccf480dcf
Due: none

Notes added by 'git notes add'
  2668327cb0747c46ace9d39d5eac3d3e05f79f84
Due: none

fix: don't account duration from non-active libraries on user card
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: don't count duration from non-active libraries on user card (#267)
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  5b8a4ae2c9edeeba0da8d14f5907735cc7b4b186
Due: none

Notes added by 'git notes add'
  22bba8da1e78653c6e50d66282ecd6ca2ffb9c01
Due: none

docs: update readme
  README.md
Due: prettier --write

refactor: move anonymize function
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

perf: use .csv instead of .txt for history
  config/history.csv
  src/utils/history.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: update gitignore
  .gitignore
  config/history.csv
Due: none

fix(dashboard): allow custom period to be 1 day
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  2f228570016088c523d5e616672f5f61424f95d5
Due: none

docs: update readme sponsors
  README.md
Due: prettier --write

fix: request counts
  src/components/MediaItem/MediaItem.tsx
  src/utils/fetchOverseerr.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: make additional params conditional for overseerr fetch
  src/utils/fetchOverseerr.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: request counts (#271)
  src/components/MediaItem/MediaItem.tsx
  src/utils/fetchOverseerr.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  a51d27dddd778e54a3986e5d9c39f5fb97ed6458
Due: none

Notes added by 'git notes add'
  48a17df153cae3578820301ec402d682ccf43688
Due: none

fix: only show users' requests badge if count > 0
  .gitignore
  src/app/dashboard/users/page.tsx
  src/app/settings/layout.tsx
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  f0212692afa10253bc42b168462002f8a0999600
Due: none

Notes added by 'git notes add'
  847ed86cb70305fde25b0cdd3bfd24354fa3327a
Due: none

build: update packages
  package.json
  pnpm-lock.yaml
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

build: update node to 22
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Dockerfile
Due: prettier --write

fix: remove libc6-compat
  Dockerfile
Due: none

fix: remove openssl
  Dockerfile
Due: none

revert: env changes
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: update node to 22 (#278)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Dockerfile
Due: prettier --write
