Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

fix: NEXT_PUBLIC_VERSION_TAG
  .github/workflows/ci.yml
Due: none

ci: cehckout correct branch
  .github/workflows/ci.yml
Due: none

ci: fix develop (#124)
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  19f4a8697b1c8636334bbf4db9f8814f437ee507
Due: none

fix: tests workflow
  .github/workflows/pre-release.yml
  .github/workflows/tests.yml
  README.md
Due: prettier --write

ci: remove duplicate action
  .github/workflows/tests.yml
Due: none

fix: move .env variable
  Dockerfile
Due: none

fix: tests workflow (#125)
  .github/workflows/pre-release.yml
  .github/workflows/tests.yml
  Dockerfile
  README.md
Due: prettier --write

Notes added by 'git notes add'
  17cffd39f85b5378f255335a3a4a2a1daff1527f
Due: none

Notes added by 'git notes add'
  830d146b41c9ccb9ac35bfd931170a0b29640e82
Due: none

ci: add ci workflow for better testing
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

ci: wording change
  .github/workflows/tests.yml
Due: none

ci: update wording again
  .github/workflows/ci.yml
Due: none

ci: add general purpose ci workflow for better testing (#128)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: release version tag
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

ci: make ci conditional on tests
  .github/workflows/ci.yml
Due: none

ci: remove non-working conditional
  .github/workflows/ci.yml
Due: none

fix: set NEXT_PUBLIC_VERSION_TAG as ARG in dockerfile
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

style: add v before version
  Dockerfile
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: update checkout action
  .github/workflows/pre-release.yml
Due: none

fix: env key position in dockerfile
  Dockerfile
Due: none

style: remove v from before version tag
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: release version tag (#129)
  .github/workflows/pre-release.yml
  Dockerfile
Due: none

Notes added by 'git notes add'
  2f4f2bdd69f6100ac0538ed920f0a1d20f2afadd
Due: none

fix: pre-release
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  72b4f4d0b6dcf9fe7f7ddb598b1432f7efcb4869
Due: none

ci: fix backmerge
  .releaserc.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: fix backmerge (#130)
  .releaserc.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  f5ecfdcddbcbd0ecf4aa868223b88f6d0349b830
Due: none

Notes added by 'git notes add'
  6869722f90434797285c772cbdd34343afe77124
Due: none

fix: release
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  6467732da3f3521a34b5d4aed3b30ca97581a1a2
Due: none

Notes added by 'git notes add'
  92677d78f84552a996550199eaa846403aa854d3
Due: none

ci(#133): support arm
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix(#126): missing id
  src/components/MediaItem/MediaItems.tsx
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: apis for libraries and managed-users should be dynamic, not static
  src/app/api/libraries/route.ts
  src/app/api/managed-users/route.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: apis for libraries and managed-users should be dynamic, not static (#137)
  src/app/api/libraries/route.ts
  src/app/api/managed-users/route.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  0c07e9c7624b2670e07110e4f7e0e046c6533978
Due: none

build: update serwist
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/~offline/page.tsx
  src/lib/sw.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build(pwa): update serwist (#138)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .gitignore
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/~offline/page.tsx
  src/lib/sw.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck
