Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write --cache"
}

refactor: use excluded instead of included array
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/ActivitiesSkeleton.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/loading.tsx
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/_components/UserMultiSelect.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: up deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

build: up deps (#352)
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

Notes added by 'git notes add'
  b3365207a37ff392513882f8380dfac081af06d7
Due: none

Add files via upload
  messages/pt.json
Due: prettier --write --cache

fix: missed a spot
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

build: up deps (#355)
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

Notes added by 'git notes add'
  6f842f739d3a9320508fa61d7efb2f1a0f4ae5de
Due: none

Notes added by 'git notes add'
  c958f67ddc2aea578129d9a02eafd809877b205a
Due: none

fix(#356): tautulli issues
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/activity/_components/ActivityItem.tsx
  src/app/api/image/route.ts
  src/app/dashboard/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/getRewind.ts
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: clean up
  .cursor/rules/api-fetch-utilities.mdc
  .cursor/rules/project-overview.mdc
  .gitignore
Due: none

refactor: address review
  src/app/api/image/route.ts
  src/app/dashboard/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#356): tautulli issues (#357)
  .cursor/rules/api-fetch-utilities.mdc
  .cursor/rules/project-overview.mdc
  .gitignore
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/activity/_components/ActivityItem.tsx
  src/app/api/image/route.ts
  src/app/dashboard/layout.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/getRewind.ts
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: update approved builds
  package.json
Due: prettier --write --cache

refactor: add days between guard
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: pin pnpm for docker builds
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
  package.json
Due: prettier --write --cache

Notes added by 'git notes add'
  8fb1c88abda4bbba964e958bc6d7166e58ffe8a9
Due: none

Notes added by 'git notes add'
  31a33c2af7447c174c10d1b26960466e91d057ec
Due: none

fix(#359): use internal loopback for middleware settings fetch
  src/proxy.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(rewind): playback habits
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/RewindBarChart.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/HabitsDay.tsx
  src/app/rewind/_components/Stories/HabitsHour.tsx
  src/app/rewind/page.tsx
  src/types/rewind.d.ts
  src/types/tautulli.d.ts
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix(#359): make non-JSON response log neutral
  src/proxy.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build(deps): update (#362)
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

feat(#329): option to exclude specific users from data
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/page.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/page.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#359): use internal loopback for middleware settings fetch (#360)
  src/proxy.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): address review feedback on playback habits
  messages/en.json
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(rewind): playback habits (#361)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/RewindBarChart.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/HabitsDay.tsx
  src/app/rewind/_components/Stories/HabitsHour.tsx
  src/app/rewind/page.tsx
  src/types/rewind.d.ts
  src/types/tautulli.d.ts
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#329): address review feedback and tidy checkbox keys
  src/app/rewind/page.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#329): option to exclude specific users from data (#347)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/page.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/page.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  9e6148edbbd9d3ed7033d55e8758c22f41927dc5
Due: none

fix: drag-and-drop in settings on web
  src/app/settings/general/_components/GeneralSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: drag-and-drop in settings on web (#363)
  src/app/settings/general/_components/GeneralSettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  811636f0460d96a33ada81f219d9c02177b3c79a
Due: none

refactor(rewind): drop the end date setting
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/page.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getRewind.ts
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): correct German start-date helper text typo
  messages/de.json
Due: prettier --write --cache

refactor(rewind): drop the end date setting (#364)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/page.tsx
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getRewind.ts
  src/utils/getUsersTop.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  1adf8e3bfdbc8085e59d091649f001cbbea9b586
Due: none

Notes added by 'git notes add'
  00a6bc145e1e66738b66de89ba98387ed38a1993
Due: none

fix: broken star history chart in README
  README.md
Due: prettier --write --cache
