Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Revert "chore: remove unneeded release option"
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  8b0cff3f89ddbebc0f17eb7daa8ba2eace08581b
Due: none

docs: update contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

fix(dashboard): image alignment
  src/app/dashboard/layout.tsx
  src/app/dashboard/loading.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
  src/utils/fetchOverseerr.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix(dashboard): min-height
  src/app/dashboard/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): image alignment again
  src/app/dashboard/layout.tsx
  src/app/dashboard/loading.tsx
  src/components/MediaItem/MediaItem.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  09f41e08752b0663d1448d1b86ce39bb60cc1c9a
Due: none

Notes added by 'git notes add'
  6e6d316d9e668d806c56d4c550f85aadb7965399
Due: none

chore: update packages
  .github/workflows/pre-release.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(settings): error handling
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  e1ea66cb6cea22ba36917ebb7908e9a59a0fc60f
Due: none

fix(dashboard): period change loading state
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/Loader.tsx
  src/app/dashboard/users/page.tsx
  src/types/index.d.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: remove unneeded file
  src/app/dashboard/loading.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: clean up code
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/dashboard/users/page.tsx
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(dashboard): period change loading state
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/dashboard/users/page.tsx
  src/types/index.d.ts
  src/utils/getPeriod.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  fcb228d41623ad80f09a3069370318f8df6eb74d
Due: none

Notes added by 'git notes add'
  20781289ae65ba88778a3eb9ea74ad19c3d846e9
Due: none

fix(settings): invalid api key handling
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/utils/fetchOverseerr.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: version check
  src/app/_components/AppProvider.tsx
  src/app/layout.tsx
  src/app/settings/layout.tsx
  src/types/index.d.ts
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: add sponsor links
  src/app/_components/AppProvider.tsx
  src/app/_components/PageTitle.tsx
  src/app/settings/layout.tsx
  src/styles/globals.css
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  50e0cf98a81a2ea741ee646be20c30147fab9be8
Due: none

Notes added by 'git notes add'
  f13a852fbba6107ad5a2ea9cf596d37baae23b38
Due: none

fix: version check interval
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: update open graph data
  src/app/opengraph-image.jpg
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: logo size
  src/app/_components/Home.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  bef39ba392eacd81e81e8b1f6cd46f77663c4d9e
Due: none

fix: version if hash
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  a5fea0cabc4faddeb0d841677780fd38bfb052d9
Due: none

Notes added by 'git notes add'
  5cef7b3beb3ce19c33a26bc56f80dc2e0d425076
Due: none

Notes added by 'git notes add'
  73ad828014ef14186f7c38b7e2fa232f34148443
Due: none

Notes added by 'git notes add'
  a750e2b302c01eef8eaa8faa43a62d4b4eabb9af
Due: none

fix: only show update notice to admin accounts
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  839a916b26742b9e177dc513af97d3871cad5b30
Due: none

feat(dashboard): show total requests count on users page
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  a8344f69f86dfcef4287df3c61e59b4d7fac311c
Due: none

fix(dashboard): total requests returning 0
  src/app/dashboard/_components/Dashboard.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
