Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

refactor(activity): only show ips to admin
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/ActivityItem.tsx
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor(activity): only show ips to admin (#323)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/activity/_components/ActivityItem.tsx
  src/app/settings/activity/_actions/updateActivitySettings.ts
  src/app/settings/activity/_components/ActivitySettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4cbc50fc3426ccb18f695ba4bd2193f2e65ece3a
Due: none

Notes added by 'git notes add'
  42a26951607fddadf101fb986f1afcf8ffc653f2
Due: none

feat(api): add Petio integration alongside Overseerr
  README.md
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchPetio.ts
  src/utils/getRewind.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: publish dockerhub
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

build: publish on dockerhub (#330)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: dockerhub image name
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: dockerhub image name (#332)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  cc4f14476177b84f5f34f2b6469233f4821ea292
Due: none

Notes added by 'git notes add'
  e7d6640f4349e94a8388169089de3178b922ba36
Due: none

docs: add star history
  README.md
Due: prettier --write --cache

docs: add star history (#334)
  README.md
Due: prettier --write --cache

docs: support dark mode for star history
  README.md
Due: prettier --write --cache

docs: support dark mode for star history (#335)
  README.md
Due: prettier --write --cache

build: resolve critical next.js vulnerability
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/proxy.ts
  src/styles/globals.css
  tsconfig.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: errors
  .cz-config.js
  lint-staged.config.js
  postcss.config.js
  prettier.config.js
  release.config.js
  src/app/api/image/route.ts
  src/app/rewind/_components/RewindStat.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/formatting.ts
  stylelint.config.js
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: update dependencies (#337)
  .cz-config.js
  eslint.config.js
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  release.config.js
  src/app/api/image/route.ts
  src/app/rewind/_components/RewindStat.tsx
  src/components/MediaItem/MediaItem.tsx
  src/proxy.ts
  src/styles/globals.css
  src/utils/formatting.ts
  stylelint.config.js
  tsconfig.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

build!: remove armv7 support
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

build: clean up armv7 from ci
  .github/workflows/ci.yml
Due: none

fix: ci build
  .github/workflows/ci.yml
Due: none

build!: remove armv7 support (#339)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

Notes added by 'git notes add'
  6510f40a57fb7298404f7bb7045dd52894513476
Due: none

fix: tautulli image proxy
  next.config.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: tautulli image proxy (#341)
  next.config.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  66c01c3ed9a97a8f3462d295f3bb33086a23e54b
Due: none

Notes added by 'git notes add'
  a887a67e814e449b2f202649b25ae506d1c16ae0
Due: none

feat: user stats exclusion
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  src/app/rewind/page.tsx
  src/app/settings/general/_actions/updateGeneralSettings.ts
  src/app/settings/general/_components/GeneralSettingsForm.tsx
  src/app/settings/general/_components/UserMultiSelect.tsx
  src/app/settings/general/page.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
  src/utils/getUsersTop.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: hover
  src/app/rewind/_components/Stories.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#175): rewind navigation revamp
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  package.json
  pnpm-lock.yaml
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/styles/globals.css
  src/types/rewind.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

refactor: stories style update
  src/app/rewind/_components/Stories.tsx
  src/app/rewind/layout.tsx
  src/styles/globals.css
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: package.json
  package.json
Due: prettier --write --cache

refactor: clean up classes
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories.tsx
  src/app/rewind/layout.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#175): rewind navigation revamp (#342)
  messages/de.json
  messages/en.json
  messages/et.json
  messages/fr.json
  package.json
  pnpm-lock.yaml
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/UsersTop.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/styles/globals.css
  src/types/rewind.d.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  a6af8844f32882b192806bc787e7b824a4ccbe63
Due: none

fix: stories width
  src/app/rewind/_components/Stories.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: stories width (#345)
  src/app/rewind/_components/Stories.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  4fb83c2e10c8715eada6c352cd451c01ae890e36
Due: none

Notes added by 'git notes add'
  0229efcd3350c911c774dfe43004fae5b572583e
Due: none

Path conditions:
  prettier --write --cache: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
