Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write"
}

Notes added by 'git notes add'
  e6d2eae2fd50eeb7780c2076a79de2a7d33fb952
Due: none

Notes added by 'git notes add'
  6d3e034afae888cbaf82b3ef2756369caea7398a
Due: none

chore(release): update config
  .cz-config.js
  .releaserc.json
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fixed user id type
  src/app/dashboard/users/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fixed missing stats on anonymous access
  src/app/dashboard/users/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

removed unnecessary null check
  src/app/dashboard/users/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fixed extensive session call
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/users/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/components/MediaItem/MediaItems.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor(dashboard): reverted back to null coalescing
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/users/page.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style(dashboard): auto lint
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/components/MediaItem/MediaItems.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: time formatting
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

refactor: formatting
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: time formatting (#231)
  src/utils/formatting.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  a09945e429734b69486f15862bd9033af12e4c45
Due: none

style(eslint): update config
  .eslintrc.json
  src/app/_components/Home.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/rewind/_components/UserSelect.tsx
  src/utils/fetchOverseerr.ts
  src/utils/formatting.ts
  src/utils/getDashboard.ts
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

ui(config): reset settings saved message after 3s
  package.json
  pnpm-lock.yaml
  src/app/settings/_components/SettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  e983713a8440e2572a61db4b47fe10af67c5231a
Due: none

docs: update unraid installation instructions
  README.md
  config/settings.example.json
Due: prettier --write

revert: reset settings saved message after 3s
  package.json
  pnpm-lock.yaml
  src/app/settings/_components/SettingsForm.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  065f35fb104c6c4e10beeaa43f84030cf5ef4058
Due: none

ui: add datepicker
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/components/DatePicker.tsx
  src/styles/globals.css
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

ui: improve datepicker visually
  package.json
  pnpm-lock.yaml
  src/components/DatePicker.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

feat: save rewind start and end dates
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/components/DatePicker.tsx
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: use start/end dates in rewind
  src/app/rewind/_components/RewindStories.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/components/DatePicker.tsx
  src/utils/fetchOverseerr.ts
  src/utils/getRewind.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: update rewind copy to follow start/end date logic
  README.md
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/layout.tsx
  src/components/DatePicker.tsx
  src/styles/globals.css
  src/utils/getRewind.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

feat(rewind): allow setting custom rewind period (start/end) in settings (#233)
  README.md
  package.json
  pnpm-lock.yaml
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/layout.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/rewind/_actions/updateRewindSettings.ts
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/components/DatePicker.tsx
  src/styles/globals.css
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/getRewind.ts
  src/utils/helpers.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix, prettier --write

Notes added by 'git notes add'
  cc201e0a243b683c92a77b6c9cfe62fb900ac633
Due: none

feat(dashboard): allow settings all time start from settings
  .env.example
  README.md
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/types/dashboard.d.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

fix: period logic
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: show loader on homepage if user data not yet available
  src/app/_components/Home.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

revert: previous commit
  src/app/_components/Home.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): allow configuring all time start from settings (#234)
  .env.example
  README.md
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/types/dashboard.d.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, prettier --write

Notes added by 'git notes add'
  1ecfb55993fc1533660b3b8bc960ce4b4aa0ea89
Due: none

feat(dashboard): remember user preference for period/style
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/dashboard/_components/DashboardProvider.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/types/dashboard.d.ts
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: edge cases
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/hooks/usePlexAuth.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: initializing
  src/app/_components/AppProvider.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/types/settings.d.ts
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(dashboard): remember user preference for period/style (#235)
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/dashboard/_components/DashboardPersonalToggle.tsx
  src/app/dashboard/_components/DashboardProvider.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/dashboard/_actions/updateDashboardSettings.ts
  src/app/settings/dashboard/_components/DashboardSettingsForm.tsx
  src/app/settings/rewind/_components/RewindSettingsForm.tsx
  src/hooks/usePlexAuth.ts
  src/types/dashboard.d.ts
  src/types/settings.d.ts
  src/utils/constants.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  79e16ef1c157f4f9e311a8ae067482521b275a93
Due: none
