Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  918b4cdf116bdce82401801ae94d04de7e385542
Due: none

fix(#174): enable serving local images via proxy
  src/app/api/image/route.ts
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/placeholder.svg
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  761a4fec05585c4c9daf07752c88d5f735c46b53
Due: none

fix: plex logo alignment
  src/app/_components/Home.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  887c1d45447e945c14625659869ac7906bf13886
Due: none

fix: select arrow styling
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  860089c109f5f6df056f2ea20555d3ce70b1d8d7
Due: none

Add Unraid documentation
  README.md
  config/settings.json.sample
Due: prettier --write

docs: add unraid documentation
  README.md
  config/settings.json.sample
Due: prettier --write

feat(#187): use tmdb for missing posters wip
  next.config.mjs
  src/app/api/image/route.ts
  src/components/MediaItem/MediaItem.tsx
  src/types/index.d.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: types
  src/components/MediaItem/MediaItem.tsx
  src/types/index.d.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat(#187): fetch missing media posters from tmdb
  next.config.mjs
  src/app/api/image/route.ts
  src/components/MediaItem/MediaItem.tsx
  src/types/index.d.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  ce697aa69272f0cbfdfc6b5dedfaee661d1b5324
Due: none

docs: update settings example
  README.md
  config/settings.example.json
Due: prettier --write

Notes added by 'git notes add'
  26d799b2d6c3e720f19afdf378d3759392934f2e
Due: none

docs: update readme
  README.md
Due: prettier --write

docs: fix issue templates labels
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: none

feat(media): allow using tmdb posters by default
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

refactor: variable name
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: form label
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

feat(#193): allow using tmdb posters as default for tv/movies
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  7439407557f6248dae112f724d5736d8e90a90b4
Due: none

feat(#194): add option to toggle rewind libraries size and count card
  config/settings.example.json
  src/actions/update-feature-settings.ts
  src/app/rewind/_components/RewindStories.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/types/index.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  c214bf1814d5cc845e084cab961bd991026f943c
Due: none

feat(#185): enable sorting of options in settings
  package.json
  pnpm-lock.yaml
  src/app/_components/AppProvider.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

perf: improve cache
  src/lib/auth.ts
  src/utils/fetchTmdb.ts
  src/utils/getSettings.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: update copy
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  321d4f06ba1d3cc71b3d70aa1f81e96c65365b3a
Due: none

fix: use global tmdb api key, users no longer need to apply their own
  config/settings.example.json
  src/actions/update-connection-settings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/fetchTmdb.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: don't allow selecting background
  src/app/_components/AppProvider.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  547f43993c659f7e612a35ce9d081bf8d1587a31
Due: none

feat(#196): improve logging
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/_components/Home.tsx
  src/app/dashboard/error.tsx
  src/app/rewind/error.tsx
  src/lib/auth.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/fetchTmdb.ts
  src/utils/getSettings.ts
  src/utils/getVersion.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  6279c5636e4e8afa7ef9a3d54242d7157fa982d9
Due: none

fix(#188): plex connection and resulting deeplinks on media
  src/actions/update-connection-settings.ts
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/types/index.d.ts
  src/utils/constants.ts
  src/utils/fetchTautulli.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  bcaa9aa80a8f16022f57e30c7c1188c5a15430cd
Due: none

fix: settings handling on missing keys
  config/settings.example.json
  src/actions/update-connection-settings.ts
  src/actions/update-feature-settings.ts
  src/app/_components/AppProvider.tsx
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/users/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/rewind/layout.tsx
  src/app/rewind/page.tsx
  src/app/settings/connection/page.tsx
  src/app/settings/features/page.tsx
  src/app/settings/layout.tsx
  src/utils/constants.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getSettings.ts
  src/utils/helpers.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  75261c4b5d9eb7507df65561c37f1a30f285308e
Due: none

fix: redirect loop
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
