Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --cache --fix",
    "bash -c tsc --noEmit --skipLibCheck"
  ],
  "**/*.css": "stylelint --cache --fix",
  "**/*.{css,md,json}": "prettier --write --cache"
}

style: missing period in de.json
  messages/de.json
Due: prettier --write --cache

Notes added by 'git notes add'
  c42b479b40903f87e29d3f15ee7f5b66526217d7
Due: none

Notes added by 'git notes add'
  4033ba364e3045647314fea60bb253b0530601ce
Due: none

fix: german localization
  messages/de.json
Due: prettier --write --cache

fix: german localization (#292)
  messages/de.json
Due: prettier --write --cache

Notes added by 'git notes add'
  ac1b7a5b5929ad9bea07b907bf66ea66a1e9192e
Due: none

Notes added by 'git notes add'
  1791e88de837947f76df08c439d984a3b562e18f
Due: none

chore: up to next.js 15
  package.json
  pnpm-lock.yaml
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/users/page.tsx
  src/app/rewind/page.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/i18n/locale.ts
  src/utils/getPeriod.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: up dockerfile
  Dockerfile
Due: none

build: up misc deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

build: up motion
  README.md
  package.json
  pnpm-lock.yaml
  src/app/rewind/_components/RewindStat.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: up all remaining except tailwind
  package.json
  pnpm-lock.yaml
  src/app/_components/LocaleSelect.tsx
  src/app/layout.tsx
  src/i18n/request.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: tooling
  .cz-config.js
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .releaserc.json
  .stylelintrc.json
  commitlint.config.ts
  eslint.config.js
  lint-staged.config.js
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  release.config.js
  src/app/layout.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  stylelint.config.js
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: tailwind 4
  eslint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/_components/AppProvider.tsx
  src/app/_components/Home.tsx
  src/app/_components/PageTitle.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardLoader.tsx
  src/app/dashboard/error.tsx
  src/app/not-found.tsx
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/_components/StoryWrapper.tsx
  src/app/rewind/error.tsx
  src/app/rewind/loading.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/layout.tsx
  src/components/DatePicker.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/styles/globals.css
  stylelint.config.js
  tailwind.config.js
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: page top padding on mobile
  src/app/_components/AppProvider.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: add german locale (#290)
  README.md
  messages/de.json
  src/utils/constants.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

chore: up deps
  package.json
  pnpm-lock.yaml
  src/app/_components/Chat.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  d7fefe7c90d08c33d892dd8a54b4056ec0fbced4
Due: none

Merge branch 'develop' into feat/ai-assistant-gemini
  pnpm-lock.yaml
Due: none

fix: dashboard re-render
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/rewind/_components/UserSelect.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: dashboard re-render (#295)
  src/app/dashboard/_components/DashboardFilters.tsx
  src/app/rewind/_components/UserSelect.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

style: fix eslint stylistic
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/dashboard/_components/DashboardFilters.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  30d0cab7fe4bc7313a553d2cdca09d00834b8102
Due: none

style: fix eslint stylistic (#296)
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/dashboard/_components/DashboardFilters.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: undefined tmdb api call
  src/utils/getMediaAdditionalData.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: undefined tmdb api call (#297)
  src/utils/getMediaAdditionalData.ts
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(rewind): text wrapping
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: try using slim image again
  Dockerfile
Due: none

Notes added by 'git notes add'
  a8b069e1645e76b26309cb5bd9c078768245fc80
Due: none

build: try to use regular node image
  Dockerfile
Due: none

fix(rewind): text wrapping (#298)
  src/app/rewind/_components/Stories/Goodbye.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
Due: prettier --write --cache, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

build: retry with slim
  Dockerfile
Due: none

Notes added by 'git notes add'
  ef20505b0cdb7adde780737cc617a737b0b0c280
Due: none

chore: clean up comment
  Dockerfile
Due: none

fix: openssl install
  Dockerfile
Due: none

feat: armv7 support (#227)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  Dockerfile
Due: none
