Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "**/*.{css,md,json}": "prettier --write"
}

chore: keep public folder
  public/.gitkeep
Due: none

feat(rewind): add count watched (#48)
  src/app/rewind/_components/RewindStat.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/Music.tsx
  src/app/rewind/_components/Stories/MusicTop.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/page.tsx
  src/utils/getRewind.ts
  src/utils/types.ts
Due: prettier --write, eslint --cache --fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  968a7f484899d94d93502927c739fc69a8f740f8
Due: none

fix: docker build
  .env
  Dockerfile
  README.md
  package.json
  pnpm-lock.yaml
  src/app/dashboard/(route)/[slug]/page.tsx
  src/utils/config.ts
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/getDashboard.ts
Due: prettier --write, eslint --cache --fix

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bb0a27614d6f4024cd311bf62421262a7a1f3e6d
Due: none

style: organize .env
  .env
  package.json
Due: prettier --write

ci: added workflow to test build
  .github/workflows/test.yml
  package.json
Due: prettier --write

feat: show version on homepage
  .github/ISSUE_TEMPLATE/bug.yml
  src/app/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix

docs: clean up changelog
  CHANGELOG.md
Due: prettier --write

fix(rewind): excluding libraries
  README.md
  src/app/dashboard/(route)/users/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/utils/getRewind.ts
  src/utils/types.ts
Due: prettier --write, eslint --cache --fix

fix(rewind): stories visibility
  .github/workflows/test.yml
  package.json
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix

ci: add code owners
  .github/CODEOWNERS
Due: none

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1fb8f598c4f7335994b0b9b52304c0167143f537
Due: none

refactor: getting rewind
  src/app/api/auth/[...nextauth]/route.ts
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/page.tsx
  src/app/rewind/page.tsx
  src/lib/auth.ts
  src/utils/constants.ts
  src/utils/getRewind.ts
  src/utils/types.ts
Due: prettier --write, eslint --cache --fix

fix(rewind): stat animation
  src/utils/motion.ts
Due: prettier --write, eslint --cache --fix

style: change import name
  package.json
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9b0efb68f7dc2e27cc9b60d13135d089ae7a5121
Due: none

feat: add link to releases page
  src/app/page.tsx
Due: prettier --write, eslint --cache --fix

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3bb88c9ece9d1d84065d42de036142efb7c29c4f
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: update dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(dashboard): round up leftover seconds to min
  src/utils/formatting.ts
Due: prettier --write, eslint --cache --fix

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c0753847bc5bdf5d342940a3ca8dffa798e7116
Due: none

style: type declarations
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/dashboard/_components/Dashboard.tsx
  src/app/dashboard/_components/DashboardNav.tsx
  src/app/page.tsx
  src/app/rewind/_components/RewindStories.tsx
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/AudioTop.tsx
  src/app/rewind/_components/Stories/Libraries.tsx
  src/app/rewind/_components/Stories/Movies.tsx
  src/app/rewind/_components/Stories/MoviesTop.tsx
  src/app/rewind/_components/Stories/Requests.tsx
  src/app/rewind/_components/Stories/Shows.tsx
  src/app/rewind/_components/Stories/ShowsTop.tsx
  src/app/rewind/_components/Stories/Total.tsx
  src/app/rewind/_components/Stories/Welcome.tsx
  src/app/rewind/page.tsx
  src/components/MediaItem/MediaItem.tsx
  src/components/MediaItem/MediaItemTitle.tsx
  src/components/MediaItem/MediaItems.tsx
  src/lib/auth.ts
  src/types/index.d.ts
  src/types/next-auth.d.ts
  src/utils/fetchTautulli.ts
  src/utils/getDashboard.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix

style: types import
  src/utils/fetchTautulli.ts
  src/utils/getDashboard.ts
  src/utils/getMediaAdditionalData.ts
  src/utils/getRewind.ts
Due: prettier --write, eslint --cache --fix

style(rewind): update copy
  src/app/rewind/_components/Stories/Audio.tsx
  src/app/rewind/_components/Stories/Total.tsx
Due: prettier --write, eslint --cache --fix

feat: started pwa implementation
  .gitignore
  README.md
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/.gitkeep
  public/manifest.json
  src/app/_components/CardWrapper.tsx
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/lib/sw.ts
  src/styles/globals.css
  src/utils/constants.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

chore: clean up metadata
  .gitignore
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/browserconfig.xml
  public/manifest.json
  public/mstile-150x150.png
  public/site.webmanifest
  src/app/dashboard/(route)/[slug]/page.tsx
  src/app/dashboard/(route)/users/page.tsx
  src/app/icon.svg
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/assets/placeholder.svg
  src/assets/plex.svg
Due: prettier --write, eslint --cache --fix

chore: update manifest
  public/icon-192x192.png
  public/icon-512x512.png
  public/manifest.json
  public/site.webmanifest
Due: prettier --write
