Repository RaunoT/plex-rewind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: remove default settings file
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .gitignore
  config/.gitkeep
  config/settings.json
Due: prettier --write

fix: remove default settings file (#139)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .gitignore
  config/.gitkeep
  config/settings.json
Due: prettier --write

Notes added by 'git notes add'
  f5feb9f388d72d0b4f730cf4d71e55a376758d58
Due: none

docs: update readme badges
  README.md
Due: prettier --write

docs: update readme badges (#140)
  README.md
Due: prettier --write

fix(pwa): status bar color
  src/app/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

ci: fix release workflow
  .github/workflows/release.yml
Due: none

fix(pwa): transparent status bar (#141)
  .github/workflows/release.yml
  src/app/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  47dcebece8db247cddc5c669e6ea742b22de99d9
Due: none

ci(#133): support and build arm images (#135)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix(#126): missing id
  src/components/MediaItem/MediaItems.tsx
  src/utils/fetchOverseerr.ts
  src/utils/fetchTautulli.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: conditional check for tmdbId
  src/utils/fetchOverseerr.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: additional media data error handling
  src/app/~offline/page.tsx
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix(#126): missing id (#136)
  src/app/~offline/page.tsx
  src/components/MediaItem/MediaItems.tsx
  src/utils/fetchTautulli.ts
  src/utils/getMediaAdditionalData.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  f65cdd14a1fa44e694e3feac9f2bf8fea07944e8
Due: none

Notes added by 'git notes add'
  1eac402329a71c26d07eae28161870cbbcc073d0
Due: none

build: update local docker-compose
  docker-compose.yml
Due: none

feat: improve settings page flow
  src/app/_components/AppProvider.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/layout.tsx
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

fix: make nextjs owner of config dir
  Dockerfile
Due: none

chore: remove unneeded release option
  .releaserc.json
Due: prettier --write

fix: settings form focus states
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: plex oauth login client id
  package.json
  pnpm-lock.yaml
  src/lib/auth.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

feat: update settings page design (#145)
  src/app/_components/AppProvider.tsx
  src/app/settings/_components/SettingsForm.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/app/settings/layout.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  550e94a44e5483767f0515caba933dbe9a4fdaba
Due: none

fix: unique plex oauth login client id (#147)
  package.json
  pnpm-lock.yaml
  src/lib/auth.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck

Notes added by 'git notes add'
  0a7b220c792bf50a4526f06d62c5910879888c18
Due: none

feat(settings): added dashboard default period option and restructured into sections
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: add fallback for missing images
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

fix: add fallback for missing images (#149)
  src/components/MediaItem/MediaItem.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  bc15bb2f854c8ee7e76e5c57dda268b4bac4ae95
Due: none

style: fix format
  src/styles/globals.css
Due: prettier --write, stylelint --cache --fix

feat(settings): dashboard default period edit and restructure into sections (#148)
  src/actions/update-feature-settings.ts
  src/app/dashboard/[slug]/page.tsx
  src/app/dashboard/_components/DashboardNavContent.tsx
  src/app/dashboard/_components/PeriodSelect.tsx
  src/app/dashboard/_components/PeriodSelectContent.tsx
  src/app/dashboard/layout.tsx
  src/app/settings/_components/SettingsNav.tsx
  src/app/settings/connection/_components/ConnectionSettingsForm.tsx
  src/app/settings/features/_components/FeaturesSettingsForm.tsx
  src/styles/globals.css
  src/types/index.d.ts
  src/utils/constants.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

Notes added by 'git notes add'
  e868b6adbe594bff206d36534f9da3ea40a7dafc
Due: none

feat: new background
  package.json
  pnpm-lock.yaml
  public/clouds.png
  public/twinkling.png
  src/app/_assets/stars.png
  src/app/_components/AppProvider.tsx
  src/assets/placeholder.svg
  src/styles/globals.css
  src/types/vanta.d.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit --skipLibCheck, stylelint --cache --fix

ci: semantic release publish
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci: semantic release publish only when build successful
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci: only run ci on workflow dispatch
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,json})
  eslint --cache --fix: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.css
